@import "tailwindcss";

/* colors are to be 
1. named 
2. mapped to their semantic end use while respecting this guideline : background 60% , secondary 30%, primary 10% 
3. any shades added
4.mapped to tailwind utility classes 
 */

:root {
  --palette-white: #ffffff;
  --palette-purple-dark: #290d38;
}

.dark-purple-theme {
  --theme-background: var(--palette-purple-dark);
  --theme-text: var(--palette-white);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-background: var(--theme-background);
  --color-theme-text: var(--theme-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
