@import 'tailwindcss';

/* colors are to be 
1. named (usinghttps://hextotailwind.com/) with closesd matching tailwind colour so ilearn the system and so i can use the 50-950 scale, on the root 
2. mapped to their semantic end use while respecting this guideline : background 60% , secondary 30%, primary 10% 
3. any shades added
4.mapped to tailwind utility classes 
 */

:root {
  --tailwind-zinc-50: #fafafa;
  --palette-white: #ffffff;
  --palette-neutral-100: #f4f4f4;
  --palette-indigo-950: #290d38;
  --pallet-purple-950: #410062;
  --palette-indigo-700: #552fc5;
  --palette-pastelSnow-100: #e4edf8;
  --pallet-black: #000000;
}

.theme-dark-purple {
  --theme-background: var(--tailwind-zinc-50);
  --theme-color-card-background: var(--palette-indigo-950);
  --theme-text: var(--palette-white);
  --theme-text: var(--palette-neutral-100);
  --theme-border: var(--palette-indigo-700);
  --theme-text-button: var(--palette-indigo-700);
  --theme-color-button: var(--palette-pastelSnow-100);
  --theme-color-button-drop: var(--pallet-black);
  --theme-color-image-border: var(--palette-indigo-700);
  --theme-color-image-drop: var(--pallet-purple-950);
}

/* tailwind removes the prefix part --color --font  and makes the rest the utility class*/
@theme inline {
  --font-cooper-hewitt: var(--font-cooper-hewitt), system-ui, sans-serif;
  --font-barlow-semi-condensed: var(--font-barlow-semi-condensed), system-ui, sans-serif;
  --font-instrument-sans: var(--font-instrument-sans), system-ui, sans-serif;
  --font-sabon: var(--font-sabon), system-ui, sans-serif;
  --color-theme-background: var(--theme-background);
  --color-theme-card-background: var(--theme-color-card-background);
  --color-theme-text: var(--theme-text);
  --color-theme-text-button: var(--theme-text-button);
  --color-theme-border: var(--theme-border);
  --color-theme-color-button: var(--theme-color-button);
  --color-theme-color-button-drop: var(--theme-color-button-drop);
  --color-theme-color-image-border: var(--theme-color-image-border);
  --color-theme-color-image-drop: var(--theme-color-image-drop);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
